/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
    color: #333;
}

h2 {
    color: #444;
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

/* Styling for the results */
#whileLoopResult, #forLoopResult, #arrayContents, #objectDetails {
    background-color: #e2e2e2;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}
